@import url(".config/wofi/mocha.css");

* {
    all: unset;
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 18px;
    color: @text;
}

window {
    background-color: @crust;
    border: 2px solid @surface0;
    border-radius: 10px;
    box-shadow: none;
}

#outer-box {
    margin: 1.5em;
}

#inner-box {
    margin: 1em 0.5em;
}

#entry {
    margin: 0.5em 0;
    padding: 0.75em 1em;
    border-radius: 50px;
}

#entry:selected {
    background-color: alpha(@mantle, 0.5);
    box-shadow: 1px 1px 5px alpha(black, 0.3);
}

#text {
    margin-left: 1em;
}

#input {
    padding: 1em;
    border-radius: 10px;
    background-color: @mantle;
    box-shadow: 1px 1px 5px alpha(black, 0.3);
}

#input image {
    margin-right: 0.5em;
}
