@import "mocha.css";

* {
    all: unset;
    outline: none;
    border: none;
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 18px;
    color: @text;
}

window#waybar {
    background-color: transparent;
}

#workspaces,
.modules-left,
.modules-right {
    border-radius: 10px;
    background-color: @base;
    padding: 0.75em;
    border: 2px solid @surface0;
}

#workspaces button {
    margin: 0 0.65em;
}

.modules-left .module {
    all: unset;
    margin: 0 0.5em;
}

.modules-right .module {
    all: unset;
    margin: 0 0.75em;
}

tooltip {
    border: 2px solid @text;
    border-radius: 5px;
    background-color: @crust;
}

tooltip label {
    padding: 0.25em;
}
